eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
server:
  port: 8761
spring:
  application:
    name: praveenoruganti-spring-cloud-eureka-server

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS